.spa-table table {
    width: 100%;
    border-collapse: collapse;
}

.spa-table table thead {
    background-color: #333;
    color: #FFF;
}

.spa-table table tbody {
    background-color: #FFF;
}

.spa-table table tbody tr:nth-child(even) {
    background-color: #F7F7F7;
}

.spa-table table td {
    padding: 12px;
    border-bottom: 1px solid #DDD;
}

.spa-table table td:first-child {
    font-weight: 600;
    color: #333;
}

.spa-table table td:last-child {
    color: #777;
}

.spa-table table td a {
    color: #3498DB;
    text-decoration: none;
}

.spa-table table td a:hover {
    color: #2980B9;
    text-decoration: underline;
}